1.Answer the following questions using Pandas library.

In [40]:
import pandas as pd

df = pd.read_csv("/Users/nishathakur/Downloads/AI:ML Assignment/AI Chapter-3 Quiz/03_Data Files/data_studentlist.csv", header='infer')

In [41]:
df

                Name Gender  Age  Grade Absence Bloodtype  Height  Weight
0      Jared Diamond      M   23      3       Y         O   165.3    68.2
1     Sarah O'Donnel      F   22      2       N        AB   170.1    53.0
2       Brian Martin      M   24      4       N         B   175.0    80.1
3       David Hassel      M   23      3       N        AB   182.1    85.7
4    Clara Rodriquez      F   20      1       Y         A   168.0    49.5
5   Jennifer Lorentz      F   21      2       N         O   162.0    52.0
6        Susan Clark      F   22      1       N         O   155.2    45.3
7    Margareth Jones      F   23      1       N         A   176.9    55.0
8       John Bertsch      M   23      3       N         B   178.5    64.2
9     Jake Timmerman      M   22      2       N         B   176.1    61.3
10     Joshua Connor      M   24      4       Y         O   167.1    62.0
11      John Matsuda      M   22      2       N        AB   180.0    75.8
12      Eddy Johnson      M   21      1       N         A   162.2    55.3
13  Rebecah Anderson      F   23      3       N         O   176.1    53.1
14      Linda Carter      F   22      2       N         B   158.2    45.2
15    Richard Swayze      M   24      4       Y         B   168.6    70.2
16       Andrew King      M   21      1       N         A   169.2    62.2

In [42]:
print(df.columns) # coloums name

Index(['Name', 'Gender', 'Age', 'Grade', 'Absence', 'Bloodtype', 'Height',
       'Weight'],
      dtype='object')

In [43]:
len(df) # Number of rows

17

In [44]:
print(df.shape) # shape it find total number of coloums and rows

(17, 8)

#1). Average height of the male students:

In [45]:
avg_height_male = df[df['Gender'] == 'M']['Height'].mean()
print(avg_height_male)

172.41000000000003

In [46]:
#2
avg_height_female = df[df['Gender'] == 'F']['Height'].mean()
print(avg_height_female)

166.64285714285714

In [47]:
#3
avg_weight_male = df[df['Gender'] == 'M']['Weight'].mean()
print(avg_weight_male)

68.50000000000001

In [48]:
#4
avg_weight_female = df[df['Gender'] == 'F']['Weight'].mean()
print(avg_weight_female )

50.44285714285714

In [49]:

#5
tallest_male = df[df['Gender'] == 'M']['Height'].max()
print(tallest_male)

182.1

In [50]:
#6
shortest_female = df[df['Gender'] == 'F']['Height'].min()
print(shortest_female)

155.2

In [51]:
#7
lightest_male_over_175 = df[(df['Gender'] == 'M') & (df['Height'] > 175)]['Weight'].min()
print(lightest_male_over_175)

61.3

In [52]:
#8
heaviest_female_under_160 = df[(df['Gender'] == 'F') & (df['Height'] < 160)]['Weight'].max()
print(heaviest_female_under_160)

45.3

In [53]:
#9
avg_grade_no_absence = df[df['Absence'] == 'N']['Grade'].mean()
print(avg_grade_no_absence)

2.076923076923077

In [54]:
#10
avg_grade_with_absence = df[df['Absence'] == 'Y']['Grade'].mean()
print(avg_grade_with_absence)

3.0

In [55]:
#11.
avg_height_A_AB = df[df['BloodType'].isin(['A', 'AB'])]['Height'].mean()
print(avg_height_A_AB)

KeyError: 'BloodType'

In [56]:
print(df.columns)

Index(['Name', 'Gender', 'Age', 'Grade', 'Absence', 'Bloodtype', 'Height',
       'Weight'],
      dtype='object')

In [57]:
avg_height_A_AB = df[df['Blood Type'].isin(['A', 'AB'])]['Height'].mean()
print(avg_height_A_AB)

KeyError: 'Blood Type'

In [58]:
df.rename(columns={'Blood Type': 'BloodType'}, inplace=True)

In [59]:
# 11
avg_height_A_AB = df[df['Bloodtype'].isin(['A', 'AB'])]['Height'].mean()
print("Average height of students with blood type A or AB:", avg_height_A_AB)

Average height of students with blood type A or AB: 172.64285714285714

In [60]:
#12) 
avg_height_male_A_AB = df[(df['Gender'] == 'M') & (df['Bloodtype'].isin(['A', 'AB']))]['Height'].mean()
print(avg_height_male_A_AB)

173.375

In [61]:
#13
avg_age_absence_Y_grade_3_or_more = df[(df['Absence'] == 'Y') & (df['Grade'] >= 3)]['Age'].mean()
print(avg_age_absence_Y_grade_3_or_more)

23.666666666666668

# 2

In [62]:
import pandas as pd

df1 = pd.read_csv("data_census.csv")
df1

,Province Code,City Code,Population,Households,Person's Household,Gender Ratio
0,109,1001,"10,078,850","4,197,478",2.40,0.97
1,109,1188,"155,695","72,882",2.14,0.98
2,109,1189,"126,817","59,614",2.13,1.00
3,109,1158,"235,186","108,138",2.17,0.94
4,109,1105,"298,145","126,915",2.35,0.99
...,...,...,...,...,...,...
276,103,1011,"63,069","27,724",2.27,0.94
277,103,1233,"48,856","24,193",2.02,0.91
278,115,1001,"615,250","251,478",2.45,1.01
279,115,1186,"454,673","182,709",2.49,1.00
280,115,1096,"160,577","68,769",2.34,1.02

In [63]:
df1.shape

(281, 6)

In [64]:
df1.head(10)

,Province Code,City Code,Population,Households,Person's Household,Gender Ratio
0,109,1001,"10,078,850","4,197,478",2.40,0.97
1,109,1188,"155,695","72,882",2.14,0.98
2,109,1189,"126,817","59,614",2.13,1.00
3,109,1158,"235,186","108,138",2.17,0.94
4,109,1105,"298,145","126,915",2.35,0.99
5,109,1032,"362,197","158,769",2.28,0.97
6,109,1065,"362,604","160,110",2.26,1.01
7,109,1190,"417,976","177,077",2.36,1.00
8,109,1106,"464,176","192,670",2.41,0.96
9,109,1006,"333,523","141,325",2.36,0.97

In [83]:
 print(df1.columns)

Index(['Province Code', 'City Code', 'Population', 'Households',
       'Person's Household', 'Gender Ratio'],
      dtype='object')

# 1) Total population of ProvinceCode equal to 115 and 116:

In [84]:
#1
total_population_115_116 = df1[df1['Province Code'].isin([115, 116])]['Population'].sum()

print("Total population of ProvinceCode 115 and 116:", total_population_115_116)

Total population of ProvinceCode 115 and 116:  2,068,444  602,939  260,326  342,613  112,282  104,738  295,751  168,415  124,542  40,052  164,121  54,990  71,388  57,198  32,191  92,766  84,158  62,913  615,250  454,673  160,577

In [87]:
print(type(df1))
df1.info()

<class 'pandas.core.frame.DataFrame'>
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 281 entries, 0 to 280
Data columns (total 6 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Province Code       281 non-null    int64
 1   City Code           281 non-null    int64
 2   Population          281 non-null    object
 3   Households          281 non-null    object
 4   Person's Household  281 non-null    float64
 5   Gender Ratio        281 non-null    float64
dtypes: float64(2), int64(2), object(2)
memory usage: 13.3+ KB

#  2)Average population of the cities where there are more males:

In [89]:
#2
df1['Population'] = df1['Population'].astype(str).str.replace(',', '').astype(int)

In [90]:
print("2) Average population of the cities where there are more males:")
more_males = df1[df1['Gender Ratio'] > 1]
avg_population = more_males['Population'].mean()
print(f"Average population in cities with more males: {avg_population:,.2f}")

2) Average population of the cities where there are more males:
Average population in cities with more males: 419,221.21

# 3)	Places with more males (GenderRatio >1) and less than 2 persons per household:

In [96]:
# 3
df1['Households'] = df1['Households'].astype(str).str.replace(',', '').astype(int)

persons_per_household = df1['Population'] / df1['Households']

filtered_places = df1[
    (df1['Gender Ratio'] > 1) &
    (persons_per_household < 2)
]

print(filtered_places)

     Province Code  City Code  Population  Households  Person's Household  \
62             112       1155       20825       11172                1.86
149            101       1240       26790       13433                1.99
152            101       1017       30066       15485                1.94
167            117       1033       38027       19145                1.99
227            113       1120       43566       22248                1.96
253            104       1163       10304        5365                1.92

     Gender Ratio
62           1.29
149          1.27
152          1.15
167          1.03
227          1.11
253          1.15

# 4)	Sort the DataFrame in ascending order of the 'Households.' Show the top 10.

In [97]:
sorted_df1 = df1.sort_values(by='Households', ascending=True)
sorted_df1.head(10)

,Province Code,City Code,Population,Households,Person's Household,Gender Ratio
253,104,1163,10304,5365,1.92,1.15
244,104,1147,17984,8769,2.05,0.97
200,114,1179,23308,10877,2.14,0.98
150,101,1130,24283,11162,2.18,1.17
62,112,1155,20825,11172,1.86,1.29
199,114,1073,25181,11723,2.15,0.98
241,104,1039,24096,12091,1.99,1.00
213,113,1034,27115,12465,2.18,0.95
198,114,1193,26325,12531,2.10,1.00
243,104,1208,26353,13233,1.99,0.98

# c

In [100]:
import pandas as pd
import numpy as np
import os

# Read the data
df2 = pd.read_csv('data_sales.csv', header='infer')

# print(df.shape)
# df.head(5)
print(df2)

         Date   Region     Item  Unit Price  Units
0   04-Jul-14     East  Pen Set        4.99     62
1   12-Jul-14     East   Binder        1.99     29
2   21-Jul-14  Central  Pen Set       12.49     55
3   29-Jul-14     East   Binder       19.99     81
4   07-Aug-14  Central  Pen Set       23.95     42
5   15-Aug-14     East   Pencil        4.99     35
6   24-Aug-14     West     Desk      275.00      3
7   01-Sep-14  Central     Desk      125.00      2
8   10-Sep-14  Central   Pencil        1.29      7
9   18-Sep-14     East  Pen Set       15.99     16
10  27-Sep-14     West      Pen        1.99     76
11  05-Oct-14  Central   Binder        8.99     28
12  14-Oct-14     West   Binder       19.99     57
13  22-Oct-14     East      Pen        8.99     64
14  31-Oct-14  Central   Pencil        1.29     14
15  08-Nov-14     East      Pen       19.99     15
16  17-Nov-14  Central   Binder        4.99     11
17  25-Nov-14  Central  Pen Set        4.99     96
18  04-Dec-14  Central   Binder       19.99     94
19  12-Dec-14  Central   Pencil        1.29     67
20  21-Dec-14  Central   Binder        4.99     28
21  29-Dec-14     East  Pen Set       15.99     74
22  06-Jan-15     East   Pencil        1.99     95
23  15-Jan-15  Central   Binder        8.99     46
24  23-Jan-15  Central   Binder       19.99     50
25  01-Feb-15  Central   Binder       15.00     87
26  09-Feb-15  Central   Pencil        4.99     36
27  18-Feb-15     East   Binder        4.99      4
28  26-Feb-15  Central      Pen       19.99     27
29  07-Mar-15     West   Binder       19.99      7
30  15-Mar-15     West   Pencil        2.99     56
31  24-Mar-15  Central  Pen Set        4.99     50
32  01-Apr-15     East   Binder        4.99     60
33  10-Apr-15  Central   Pencil        1.99     66
34  18-Apr-15  Central   Pencil        1.99     75
35  27-Apr-15     East      Pen        4.99     96
36  05-May-15  Central   Pencil        4.99     90
37  14-May-15  Central   Pencil        1.29     53
38  22-May-15     West   Pencil        1.99     32
39  31-May-15  Central   Binder        8.99     80
40  08-Jun-15     East   Binder        8.99     60
41  17-Jun-15  Central     Desk      125.00      5
42  25-Jun-15  Central   Pencil        4.99     90

In [101]:
print(df2.columns)

Index(['Date', 'Region', 'Item', 'Unit Price', 'Units'], dtype='object')

In [104]:
print(df2.shape)

(43, 5)

In [107]:
df2.head(5)

        Date   Region     Item  Unit Price  Units
0  04-Jul-14     East  Pen Set        4.99     62
1  12-Jul-14     East   Binder        1.99     29
2  21-Jul-14  Central  Pen Set       12.49     55
3  29-Jul-14     East   Binder       19.99     81
4  07-Aug-14  Central  Pen Set       23.95     42

In [109]:
#1.
df2['Amount'] = df2['Unit Price'] * df2['Units']
df2.head()

        Date   Region     Item  Unit Price  Units   Amount
0  04-Jul-14     East  Pen Set        4.99     62   309.38
1  12-Jul-14     East   Binder        1.99     29    57.71
2  21-Jul-14  Central  Pen Set       12.49     55   686.95
3  29-Jul-14     East   Binder       19.99     81  1619.19
4  07-Aug-14  Central  Pen Set       23.95     42  1005.90

In [111]:
#2
avg_unitprice_region = df2.groupby('Region')['Unit Price'].mean()
avg_unitprice_region

Region
Central    18.018750
East        9.143846
West       53.658333
Name: Unit Price, dtype: float64

In [112]:
#3
pd.pivot_table(
    df2,
    values='Unit Price',
    index='Region',
    aggfunc='mean'
)

         Unit Price
Region
Central   18.018750
East       9.143846
West      53.658333

In [113]:
#4
df.groupby('Region')[['Unit Price', 'Units']].mean()

         Unit Price      Units
Region
Central   18.018750  49.958333
East       9.143846  53.153846
West      53.658333  38.500000

In [116]:
#5
pd.pivot_table(
    df2,
    values=['Unit Price', 'Units'],
    index='Region',
    aggfunc='mean'
)

         Unit Price      Units
Region
Central   18.018750  49.958333
East       9.143846  53.153846
West      53.658333  38.500000

In [117]:
#6 
pd.pivot_table(
    df2,
    values='Units',
    index='Region',
    columns='ItemType',
    aggfunc='sum',
    fill_value=0
)

KeyError: 'ItemType'